.navbar {
    display: flex;
    justify-content: center;
    background-color: #1F2A44;
    max-height: 130px;
}

.navbar div {
    margin: 20px 180px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar div span {
    margin: 0px 30px;
    font-size: 18px;
    cursor: pointer;
}

.btnaccion {
    border: 1px solid #C6A75E;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btnaccion:hover {
    background-color: #151d2e;
}

